/*h1{
	font-family: 'Gloria Hallelujah', cursive;
	color: black;
	font-size: 500%;
	margin-bottom: 0px;
}*/

a{
	text-decoration: none;
	text-decoration-color: none;
}

body{
	margin:0;
	background-color: blanchedalmond;
}

.navitem{
	/*margin-bottom: 0px;*/
	padding: 5px;
	font-family: 'Gugi', cursive;
	/*text-decoration: none;*/
}

.dropmenu{
	padding: 5px;
	/*border: 1px solid black;*/
	background-color: rgba(255,255,255,0.5);
}

.parentbox-menu{
	display: flex;
	justify-content: space-around;
	position: fixed;
	background-color: rgba(255,255,255,0);
	height: 30px;
	margin:0;
	width: 100%;
}

.parentaboutus{
	display:none;
}

#aboutus:hover .parentaboutus{
	display: block;
}

.parentgallery{
	display: none;
}

#gallery:hover .parentgallery{
	display: block;
}

.parenttrip{
	display: none;
}
#trip:hover .parenttrip{
	display: block;
}

.parentjoinus{
	display: none;
}
	
#joinus:hover .parentjoinus{
	display: block;
}

.section1{
	/*background-color: plum;*/
	font-size: 95px;
	padding:60px;
	box-sizing: border-box;
	margin:0;
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
	background-image: url(https://s32.postimg.org/igky8w31x/giphy.gif);
	/*width:100%;*/
	/*border-width: 100%;*/
	background-size:cover;
	height: 600px;
}

.section2{
	background-color: white;
}

#ourmission{
	background-color: white;
	color:deepskyblue;
	padding: 70px 25px 30px;
	text-align: center;
	font-family: Arial;
	/*font-weight: bold;*/
	font-size: 20px;
	margin:0;
	/*height: 300px;*/
}

#alllocal{
	text-align: center;
	margin:10px 0px 35px;
	padding:0px;
	font-family: Arial;
	font-weight: bold;
	font-size: 25px;
}

.image{
	width:200px;
	height:200px;
	border-radius: 100px;
	margin:10px 50px;
}

.thingstodo{
	display:flex;
	justify-content: center;
	background-color: white;
}

.picexplain{
	text-align: center;
	background-color: white;
	padding-top: 25px;
	padding-bottom: 90px;
	font-family: Arial;
}

/*.section3{
	background-image: url(http://www.sekinchan.org/images/sekinchan-paddy-field-view-from-sky.jpg);
	background-size: cover;
	height: 400px;
}
*/
.section3{
	height: 700px;
	/*background-color: plum;*/
	background-image: url(https://media-cdn.tripadvisor.com/media/photo-s/08/a9/a1/fc/sekinchan-paddy-fields.jpg);
	/*opacity: 0.7;*/
	background-repeat: no-repeat;
		/*from .section1*/
	font-size: 50px;
	padding:300px 50px;
	box-sizing: border-box;
	margin-top:10;
	text-align: center;
	font-family: 'Arial', cursive;
	/*width:100%;*/
	/*border-width: 100%;*/
	background-size:cover;
/*	z-index: */
position: relative;

}

/*#imagesection3{
	opacity: 0.5;
	width:100%;
}*/

.chooseyourtour{
	background-color: rgba(255,255,255,0.4);
/*	margin:0;
	padding: 0;*/
	width:100%;
	height:700px;
	/*opacity: 0.7;*/
	z-index: 1;
	/*top:0;*/
	top: 0;
	left: 0;
	position: absolute;
	display: table-cell;
	vertical-align: middle;
	padding: 300px 5px;
	box-sizing: border-box;
	font-family: 'Gloria Hallelujah', cursive;
}

/*#meet{
	text-align: center;
	margin:10px 0px 35px;
	padding:0px;
	font-family: Arial;
	font-weight: bold;
	font-size: 25px;
	color: teal;
	background-color: white;
}
}*/
#meetourpeople{
	text-align: center;
	padding-top:50px;
	font-family: 'Gamja Flower', cursive;
	font-size: 50px;
	background-color: white;
	margin:0;
}

#magic{
	text-align: center;
	/*margin:10px 0px 35px;*/
	padding:0px;
	font-family: 'Gamja Flower', cursive;
	font-weight: bold;
	font-size: 30px;
	margin:0;
}

.peopleimage{
	width:200px;
	height:200px;
	border-radius: 80px;
	margin:10px 50px;
}

.peopleexplain{
	text-align: center;
	background-color: white;
	padding-top: 25px;
	padding-bottom: 90px;
	font-family: Arial;
}

.section5{
	display: flex;
	justify-content: space-around;
	background-color:#eeeeee;
}

.section6{
	height: 350px;
	background-color: white;
}
